* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

img {
  max-width: 500px;
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.previewHeader {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.blogListItem {
  margin-left: 10px;
  margin-right: 10px;
}

.blogBoard h3,
h1 {
  text-align: center;
}

.blogBoard h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.blogBoard h3 {
  margin-top: 10px;
  margin-bottom: 45px;
}

.blogThumb {
  max-height: 50px;
}

.previewText {
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 10px;
}

.previewTextContainer {
  margin-left: 10px;
}

.authorPreview {
  margin-top: 0px;
  font-weight: 700;
  font-size: 12px;
}

.previewContainer {
  display: flex;
  align-items: center;
}

.blogListItem {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}

Navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-weight: 500;
}

.profileContainer {
  display: flex;
  justify-content: center;
}

.profileText {
  padding-bottom: 50px;
}
